<html>
	<head>
		<title>
			Flowy | Login
		</title>
	</head>
	<body bgcolor="white">
	<center>
	<div id = 'stars'>
		<div class = "top">
		</div>
		<div class = "middle" >
			<div class = "left">
				<span style = "float:right">
				</span>
			</div>
			<div class = "center">
				<center>
						<div class = "line-container">
						<div class = "line"></div>
					</div>
					<div style = "width:100%;height:5vh;">
					</div>
					<a href  = "http://accounts.sdslabs.local/register" style = "color:white;">
						<div class = "buttons">
							Sign Up
						</div>
					</a>
					<br><br>
					<a href  = "http://accounts.sdslabs.local/login?redirect=http://flowy.local" style = "color:white;">
						<div class = "buttons">
							Sign In
						</div>
					</a>
					</center>
			</div>
			<div class = "right">
			<br><br>
			</div>
			
		</div>
	</div>
	</body>
</html>
